*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --blue: hsl(246, 80%, 60%);
    --light-yellow: hsl(15, 100%, 70%); /*work*/
    --soft-blue: hsl(195, 74%, 62%); /*play*/
    --light-red: hsl(348, 100%, 68%); /*study*/
    --lime-green: hsl(145, 58%, 55%); /*exercise*/
    --violet: hsl(264, 64%, 52%); /*social*/
    --soft-orange: hsl(43, 84%, 65%); /*self care*/
    --very-dark-blue: hsl(226, 43%, 10%);
    --dark-blue: hsl(235, 46%, 20%);
    --desaturated-blue: hsl(235, 45%, 61%);
    --pale-blue: hsl(236, 100%, 87%);
}

html {
    font-size: 62.5%;
    font-family: 'Rubik', sans-serif;
}

body {
    background-color: var(--very-dark-blue);
}

.container {
    display: grid;
    margin: 7rem auto 1rem;
    max-width: 50vw;
    justify-content: center;
    gap: 20px;
}

@media screen and (min-width: 1440px) {
    .container {
        grid-template-columns: repeat(4, minmax(100px, 1fr));
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
                            "user work play study"
                            "user exercise social self-care";
    }
    .user {
        grid-area: user;
    }
}

.stats {
    border-radius: 10px;
    padding-top: 2.5rem;
    background-repeat: no-repeat;
    background-position: top -10px right 5%;
}

#work {
    background-color: var(--light-yellow);
    background-image: url(./images/icon-work.svg);
}

#play {
    background-color: var(--soft-blue);
    background-image: url(./images/icon-play.svg);
}

#study {
    background-color: var(--light-red);
    background-image: url(./images/icon-study.svg);
}

#exercise {
    background-color: var(--lime-green);
    background-image: url(./images/icon-exercise.svg);
}

#social {
    background-color: var(--violet);
    background-image: url(./images/icon-social.svg);
}

#self-care {
    background-color: var(--soft-orange);
    background-image: url(./images/icon-self-care.svg);
}

.stats-content {
    background-color: var(--dark-blue);
    color: white;
    border-radius: 10px;
    padding: 2rem;
    position: relative;
    bottom: -2px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

@media screen and (min-width: 1440px) {
    .content {
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        margin-top: 20px;
        padding-bottom: 10px;
    }
}

.hours {
    font-weight: 300;
    font-size: 2.5rem;
}

@media screen and (min-width: 1440px) {
    .hours {
        font-size: 4rem;
    }
}

.header {
    display: flex;
    justify-content: space-between;
}

.last-hours {
    color: var(--desaturated-blue);
    font-weight: 400;
}

.heading {
    font-size: 1.3rem;
}

.btn-more {
    cursor: pointer;
}

.btn-more div {
    display: inline-block;
    background-color: white;
    width: 3px;
    height: 3px;
    border-radius: 50%;
}

.user {
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: var(--dark-blue);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.credentials {
    border-radius: 10px;
    background-color: var(--blue);
    padding: 2rem;

    display: flex;
    align-items: center;
    gap: 1.5rem;
    color: white;
}

@media screen and (min-width: 1440px) {
    .credentials {
        flex-direction: column;
        align-items: flex-start;
        height: 70%;
    }
}

.name > h1 {
    font-weight: 300;
    white-space: nowrap;
    margin-top: 3px;
}

@media screen and (min-width: 1440px) {
    .name {
        margin-top: 2rem;
    }
    .name > h1 {
        white-space: normal;
        width: min-content;
        font-size: 3rem;
        margin-top: 5px;
    }
}

.name > span{
    display: inline-block;
    font-weight: 400;
    color: var(--pale-blue);
}

.avatar {
    width: 60px;
    border: 3px solid #fff;
    border-radius: 50%;
}

.timeline {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: 1440px) {
    .timeline {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;

    }
}

.period-btn {
    background: none;
    border: none;
    color: var(--desaturated-blue);
    cursor: pointer;
}

.period-btn[data-active="true"] {
    color: #fff;
}