*, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --dark-blue: #0B0D17;
    --light-blue: #D0D6F9;
    --white: #fff;
    font-size: 62.5%;
}

body {
    background-image: url('./assets/home/background-home-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

@media (max-width:768px){
    body {
        background-image: url('./assets/home/background-home-tablet.jpg');
    }
}

.heading-1 {
    font-family: 'Bellefair', sans-serif;
    font-weight: 400;
    font-size: 15rem;
    text-transform: uppercase;
    color: var(--white)
}

@media (max-width:375px) {
    .heading-1 {
        font-size: 8rem;
    }
}

.heading-2 {
    font-family: 'Bellefair', sans-serif;
    font-weight: 400;
    font-size: 10rem;
    text-transform: uppercase;
}

@media (max-width:375px) {
    .heading-2 {
        font-size: 5.6rem;
    }
}

.heading-3 {
    font-family: 'Bellefair', sans-serif;
    font-weight: 400;
    font-size: 5.6rem;
    text-transform: uppercase;
}

@media (max-width:768px){
    .heading-3 {
        font-size: 4rem;
    }
}

@media (max-width:375px){
    .heading-3 {
        font-size: 2.4rem;
        font-weight: 400;
    }
}

.heading-4 {
    font-family: 'Bellefair', sans-serif;
    font-weight: 400;
    font-size: 3.2rem;
    text-transform: uppercase;
}

@media (max-width:768px){
    .heading-4 {
        font-size: 2.4rem;
    }
}

@media (max-width:375px){
    .heading-4 {
        font-size: 1.6rem;
    }
}

.heading-5 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 2.8rem;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 4.75px;
    color: var(--light-blue);
}

@media (max-width:768px){
    .heading-5 {
        font-size: 2rem;
        letter-spacing: 3.375px;
    }
}

@media (max-width:375px){
    .heading-5 {
        font-size: 1.6rem;
        letter-spacing: 2.7px;
    }
}

.subheading-1 {
    font-family: 'Bellefair', sans-serif;
    font-weight: 400;
    font-size: 2.8rem;
}

.subheading-2 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.4rem;
    letter-spacing: 2.35px;
}

.nav-text {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.8rem;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: var(--white);
}

@media (max-width:375px){
    .nav-text {
        font-size: 1.6rem;
    }
}

.body-text {
    font-family: 'Barlow', sans-serif;
    font-size: 1.8rem;
    line-height: 178%;
    font-weight: 400;
    color: var(--light-blue)
}

@media (max-width:768px){
    .body-text {
        font-size: 1.6rem;
        line-height: 175%;
    }
}

@media (max-width:375px){
    .body-text {
        font-size: 1.5rem;
        line-height: 167%;
        width: 32.7rem;
    }
}

@media (max-width:375px){
    .logo {
        width: 40px;
        height: 40px;
        margin-top: 3.4rem;
    }
}


.highlight, .nav-highlight {
    font-weight: 700;
}

@media (max-width:768px){
    .nav-highlight {
        display: none;
    }
}

@media (max-width:375px){
    .nav-highlight {
        display: inline;
    }
}

.nav-link {
    text-decoration: none;
    word-spacing: 1.4rem;
}

@media (max-width:375px){
    .nav-link {
        word-spacing: 1rem;
    }
}

.nav-list {
    display: flex;
    gap: 4.8rem;
    list-style: none;
}

.nav-wrapper {
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.7742px);
    padding-right: 16.5rem;
    padding-left: 12.3rem;
}

@media (max-width:768px){
    .nav-wrapper {
        padding: 0 4.6rem;
    }
}

@media (max-width:375px){
    .nav {
        z-index: 1;
    }
    .nav-wrapper {
        padding: 0;
        padding-top: 6.5rem;
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        min-height: 100vh;
        padding-left: 3.2rem;

        display: none;
    }
}

@media (max-width:375px){
    .nav-list {
        flex-direction: column;
        gap: 1.9rem;
        width: 22.2rem;
        margin-top: 6.5rem;
    }
}

.item-wrapper {
    padding: 4rem 0;
    border-bottom: 3px solid transparent;
    cursor: pointer;
}

.nav-active {
    border-bottom: 3px solid hsla(0, 0%, 100%, 1);
}

.item-wrapper:hover {
    border-bottom: 3px solid hsla(0, 0%, 100%, .5);
}

.item-wrapper:active {
    border-bottom: 3px solid hsla(0, 0%, 100%, 1);
}

@media (max-width:375px){
    .item-wrapper {
        padding: .6rem 0;
        border-right: 4px solid transparent;
        border: none;
        cursor: pointer;
    }
    
    .nav-active {
        border: none;
        border-right: 4px solid hsla(0, 0%, 100%, 1);
    }
    
    .item-wrapper:hover {
        border: none;
        border-right: 4px solid hsla(0, 0%, 100%, .5);
    }

    .item-wrapper:active {
        border: none;
        border-right: 4px solid hsla(0, 0%, 100%, 1);
    }
}

.line {
    width: 45%;
    z-index: 10;
    height: 1px;
    background-color: var(--white);
    opacity: 0.25;
    position: absolute;
    left: 200px;
}

@media (max-width:768px){
    .line {
        display: none;
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 5.5rem;
    margin-top: 4rem;
}

@media (max-width:768px){
    .header {
        margin-top: 0;
        margin-left: 4rem;
    }
}

@media (max-width:375px){
    .header {
        margin: 0;
        margin-left: 2.4rem;
        position: relative;
    }
}

.main {
    margin: 25rem 16.5rem 13rem 15.5rem;
}

@media (max-width:768px){
    .main {
        margin: 10rem 16rem 9rem;
    }
}

@media (max-width:375px){
    .main {
        margin: 2.4rem 2.4rem 5rem;
    }
}

@media (max-width:375px){
    .burger-btn {
        display: block;
        position: relative;
        z-index: 10;
        width: 24px;
        height: 21px;
        margin-right: 2.7rem;
        margin-top: 3.4rem;
    }

    .burger-icon {
        width: 100%;
        height: 100%;
        background: url("./assets/shared/icon-hamburger.svg") no-repeat;
    }

    .burger-icon--close {
        background: url('./assets/shared/icon-close.svg') no-repeat;
    }
}

.section-text {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    max-width: min-content;
}

.section-heading {
    color: var(--white);
    font-family: 'Barlow Condensed', sans-serif;
}

.section-heading .highlight {
    margin-right: 2.8rem;
}

@media (max-width:768px){
    .section-heading .highlight {
        margin-right: 2rem;
    }
}

@media (max-width:375px){
    .section-heading .highlight {
        margin-right: 1.6rem;
    }
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

@media (max-width:768px){
    .hero {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 16rem;
    }
}

@media (max-width:768px){
    .hero {
        gap: 8rem;
    }
}

.btn-main {
    width: 274px;
    height: 274px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    text-decoration: none;
    color: var(--dark-blue);
    border-radius: 50%;
    font-size: 3.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Bellefair', sans-serif;
    transition: box-shadow .5s;
}

@media (max-width:375px) {
    .btn-main {
        width: 150px;
        height: 150px;
        font-size: 2rem;
        letter-spacing: 1.25px;
    }
}

.btn-main:hover {
    box-shadow: 0 0 0 80px hsla(0, 0%, 100%, .1);
}